<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".SeekProbeActivity"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <uses-library android:name="android.test.runner" android:required="false" />
        <uses-library android:name="android.test.base" android:required="false" />
    </application>
</manifest>
